* {
  margin: 0px;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/bg-pattern-bottom.svg");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: hsl(185, 75%, 39%);
  opacity: 0.3;
  position: absolute;
}

h4, .footer-number {
  font-weight: 700;
}

.footer-description, p, span {
  font-weight: 400;
}

.footer-description {
  font-size: 10px;
  text-align: center;
}

.container {
  width: 330px;
  height: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  position: relative;
  background-color: white;
}

.profile-image {
  flex: 43%;
  background-image: url("./images/bg-pattern-card.svg");
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.profile-pic {
  width: 80px;
  height:  80px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 80px;
  left: 120px;
  background-image: url("./images/image-victor.jpg");
  background-size: cover;
}

.profile-info {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-info {
  margin-top: 18px;
}

p {
  margin-top: 8px;
  font-size: smaller;
}

span {
  margin-left: 8px;
}

.footer-container {
  flex: 20%;
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.footer-number {
  margin-bottom: 5px;
  padding-left: 8px;
  text-align: center;
}

.footer-description {
  padding-left: 15px;
  letter-spacing: 2px;
}
